@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<br/>
<a asp-action="Login">Login</a>
<br/>
<a asp-action="Logout">Logout</a>
<br/>
<a asp-action="Info">Info</a>
